{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Listar Programas</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--FONTSAWESOME-->
    <link rel="stylesheet" href="{% static 'core/fontawesome/css/all.min.css' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'core/css/agregarCrud.css' %}">
    <!--GSAP-->
    <script src= https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js></script>

</head>
<body>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">
        <img src="{% static 'core/img/CEM.png' %}" alt="Logo" id="logo">
      </a>

      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'index' %}" class="nav-link">
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-book"></i>
              Programas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'listado_progra' %}"><i class="fas fa-list"></i> Listado</a>
                <a class="dropdown-item" href="{% url 'regprogramas' %}"><i class="fas fa-plus-square"></i> Registrar</a>
            </div>
          </li>
          <li class="nav-item active">
            <a href="{% url 'listado_notas' %}" class="nav-link">
              <i class="fas fa-graduation-cap"></i>
              Portal Calificaciones
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-university"></i>
              CEL
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'regcalificaciones' %}"><i class="fas fa-plus-square"></i> Registrar Calificación</a>

            </div>
          </li>

          <li class="nav-item dropdown" id="wiki">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="despegable" href="#">
              <i class="fas fa-user-lock"></i>
              Admin
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-users-cog"></i> Zona Admin</a>
              <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> Destruir CEM</a>
            </div>
          </li>
          <li class="nav-item active">
            <a href="{% url 'listado_postu' %}" class="nav-link">
              <i class="fas fa-user-graduate"></i>
              Estudiantes
            </a>
          </li>
        </ul>     

      </div>

    </nav>
  </div>
    
  <!--TERMINO MENU-->
<p></p>
<h1 id="titula">LISTADO PROGRAMAS DISPONIBLES</h1>
<p></p>
  <div class="container-md">
    <table id="datatable" class="table table-dark table-striped ">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Duracion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Asignatura</th>
            <th>Estado</th>
            <th>Institución</th>
            <th>Pais</th>
            <th>Opciones</th>
        </tr>
      </thead>
      <tbody>    
        {% for p in programas_filtrados%}

        <tr>
            <td>{{ p.nombre}}</td>
            <td>{{ p.duracion }}</td>
            <td>{{ p.fechaInicio}}</td>
            <td>{{ p.fechaFin}}</td>
            <td>{{ p.asignatura}}</td>
            <td>{{ p.estado}}</td>
            <td>{{ p.institucion}}</td>
            <td>{{ p.pais}}</td>
            <td>
                
                <a href="{% url 'postular' p.idPrograma %}">
                  <button type="button" class="btn btn-primary"><i class="fas fa-passport"></i> Postular</button>
                </a>

        {% endfor %}
      </tbody>
    </table>
  </div>

 
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="{% static 'core/js/animacionesEdit.js' %}"></script>

    <script src="{% static 'core/js/confirmacion.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>